*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
    display: flex;
}
.title{
    width: 100%;
    display: block;
}
.table{
    margin: 10px auto;
    height: auto;
    min-height: 100px;
    width: 195px;
    display: block;
}
.input{
    color: #000;
    border: 1px solid #000;
    border-radius: 10px;
    font-weight: bold;
    width: 150px;
    padding: 5px;
    height: 30px;
    margin: 5px auto;
    display: block;
}
.input::placeholder{
    color: #040404;
}
.btn:hover{
    color: #fff;
    background: #121392;
}
.btn{
    color: #fff;
    border: none;
    background: blue;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    padding: 10px;
    display: inline-block;

}
.imc-category{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    text-align: center;
}
.output--imc{
    display: inline-block;
    background: orangered;
    color: #fff;
    width: 80px;
    height: 40px;
    padding: 10px;
    font-weight: bold;
    text-align: left;
    border-radius: 20px 0px 0px 20px;
}
.output--imc-value{
    color: #000;
    font-weight: bold;
    background: #d4d4d4;
    width: 100px;
    height: 40px;
    padding: 10px;
    text-align: right;
    display: inline-block;
    position: absolute;
}
.table--information{
    height: auto;
    width: auto;
    margin: 10px auto;
    text-align: center;
}
.imc--box{
    margin-top: 30px;
    margin-right: 100px;
}
.box{
    background: #0000009c;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 500px;
    height: 100px;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    z-index: 100;
}
.modal{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 600px;
    padding: 30px;
    height: 400px;
    background: #fff;
}
.btn--exit{
    color: #000000;
    font-weight: bold;
    width: 20px;
    float: right;
    height: 20px;
    border-radius: 50%;
    box-sizing: border-box;
    border: none;
    font-size: 15px;
    background: #fff;
    padding-bottom: 5px;    
}
.btn--exit:hover{
    background: #c0b8b8;
    color: #fff;
    transition: 0.5s;
}
.box.fecha{
    display: none;
}
.modal.fecha{
    display: none;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.form{
    background: transparent;
}